body{
      background-image: linear-gradient(to right, lightblue, white);  
      font-family: Arial;
      font-size: 120%;
}


.btnAtras{
  background-color: grey;
    color: white;
    font-weight: bold;
    
  }
.btnAtras:hover{
    opacity: 50%;
    background-color: lightslategray;
    color: black;
   
  }
  
  #titulo{
    text-align: center;
    text-decoration: underline;
    color: gray;

  }


  #cont{
       color: grey;
      font-weight:bold;
     text-align: center;
     margin-top: 30px;
     padding-top: 1em;
     padding-bottom: 1em;
     
      
     
  }
  
 
  .boton{
      text-align: center;
  }

  #res{
    text-align: center;
    background-image: linear-gradient(to right, lightblue, white);  
    font-family: Arial;
    font-size: 120%;
  }
  .resultados{
    text-align: center;
  }