.btnAtras{
    background-color: grey;
      color: white;
      font-weight: bold;
      
    }
  .btnAtras:hover{
      opacity: 50%;
      background-color: lightslategray;
      color: black;
     
    }
    .parrafo{
        background-color: #6C757D;
          text-align: center;
    }
    #persona{
          color: white;
        font-weight:bold;
       font-size: 350%;
       padding-top: 1em;
       padding-bottom: 1em;
       
       
    }
    
    .tbl{
        text-align:center; 
        position: relative;
        margin-left: 45%;
          
    } 
    .fecha{
        text-align:center;
    }
    .boton{
        text-align: center;
    }