.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #77ff00 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #26ff00;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Georgia;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7bff00;
    width: 100%;
    text-align: center;
}

.myButton:hover {
    background: linear-gradient(to bottom, #77ff00 5%, #77d42a 100%);
    background-color: #77ff00;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.btn-group {
    width: 100%;
}

.fechaHora {
    margin-left: 3%;
    _float: left;
    _margin-top: 5%;
}
.centrada{
    margin: 0 auto;
    padding-top: 2%;
}
.fechaHora p {
    font-weight: bold;
}

.fechaHora span {
    font-weight: normal;
}

.btnAudio {
    background-color: #44c767;
    border-radius: 25px;
    border: 3px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 15px 54px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

.btnAudio:hover {
    background-color: #5cbf2a;
}

.btnAudio:active {
    position: relative;
    top: 1px;
}

.fechaHora {
    margin-left: 3%;
    _background-color: red;
    width: 20%;
    margin: 0 auto;
   
}

.botonProfe{
background-color: grey;
color: white;
font-weight: bold;
float: right;
position: relative;
margin-right:50px;
margin-top: -70px;
}
.botonProfe:hover{
opacity: 50%;
background-color: lightslategray;
color: black;

}