.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #77ff00 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #26ff00;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Georgia;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7bff00;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.myButton:hover {
    background: linear-gradient(to bottom, #77ff00 5%, #77d42a 100%);
    background-color: #77ff00;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton1 {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #e22518 5%, #c00808 100%);
    background-color: #f70c0c;
    border-radius: 6px;
    border: 1px solid #ec1404;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Georgia;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e0251f;
    width: 50%;
    text-align: center;
  
}

.myButton1:hover {
    background: linear-gradient(to bottom, #d31111 5%, #e0160f 100%);
    background-color: #db190b;
}

.myButton1:active {
    position: relative;
    top: 1px
}

.btn-group {
    width: 100%;
    
}

.fechaHora {
    margin-left: 3%;
    _background-color: red;
    width: 20%;
    margin: 0 auto;
   
}

.fechaHora p {
    font-weight: bold;
    text-align: left;
}

.fechaHora span {
    font-weight: normal;
}

.btnAudio {
  
    background-color: transparent;
}

.btnAudio:hover {
    _background-color: #5cbf2a;
}

.btnAudio:active {
    position: relative;
    top: 1px;
}

.fechaHora {
    text-align: center;
}
.altavoz{
    width:20%;
    margin-left:10px;
}
.btnAudio{
    width:25%;
}

.botonAtras{
background-color: grey;
color: white;
font-weight: bold;
float: left;

}
.botonAtras:hover{
opacity: 50%;
background-color: lightslategray;
color: black;

}
#toggleAudio{
    float: right;
    width: 20%;
}
.altavoz{
    cursor: pointer;
}
.salir{
    float: left;
    width: 10%;
    margin-top: -2.5%;
}

h1{
    width: 25%;
    margin: 0 auto;
}
.imagenTarea{
    margin: 0 auto;
}