.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .container{
  text-align: center;
  position:relative;
  margin-top: 50px;
  }
  
  .cabezera{
    background-color: #6C757D;
    color: white;
    text-align: center;
    padding-top:1em;
    font-family: Arial
  }
  .btnAtras{
  background-color: grey;
    color: white;
    font-weight: bold;
    float: right;
    position: relative;
    margin-right:50px;
    margin-top: -70px;
  }
.btnAtras:hover{
    opacity: 50%;
    background-color: lightslategray;
    color: black;
   
  }