@import 'https://fonts.googleapis.com/css?family=Montserrat';

* {
	font-family: 'Montserrat';
	background-color: transparent;
	text-align: center;
}

.cara {
	margin-top: 6%;
}

.texto1 {
	font-size:100px;
	font-weight: lighter;
	margin-top: -1%;
}

.texto2 {
	margin-top: -5%;
	font-size: 190%;
	color: #b6b6b6;
	font-weight: lighter;
}

.bloqueinf {
	color: #a1a1a1;
	line-height: 80%;
	font-size: 100%;
	letter-spacing: -0.5pt;
}

a {
	color: #cda171;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}